<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-white" style="min-width: 155px;">
    <ul class="nav nav-pills flex-column mb-auto font-sm">
        <li class="nav-item">
            <a href="{% url 'admin:index' %}" class="nav-link {% if request.path == '/admin/' %}active{% endif %}">
            Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'admin:marketing' %}" class="nav-link {% if '/admin/marketing/statistics' in request.path %}active{% endif %}">
            마케팅 분석
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
            로그
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
            재무정보 수집
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
            주가정보 수집
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
            기업정보 수집
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'admin:corp_manage' %}" class="nav-link {% if '/admin/corp/manage' in request.path %}active{% endif %}">
            기업정보 관리
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'admin:account_user_changelist' %}" class="nav-link {% if '/admin/account/user/' in request.path %}active{% endif %}">
            계정정보 관리
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'admin:inquiry_manage' %}" class="nav-link {% if '/admin/inquiry/manage/' in request.path %}active{% endif %}">
            1:1 문의 관리
            </a>
        </li>
    </ul>
</div>