{% extends 'base.html' %}
{% block content %}
<div class="mt-5">
    <form method="post">
        {{ form.errors }}
        {% csrf_token %}
        <div class="mb-3 form-floating">
            <input type="text" class="form-control" name="email" id="email"
                    value="{{ form.email.value|default_if_none:'' }}" placeholder="E-mail">
            <label for="email">E-mail</label>
        </div>

        <input type="submit" class="btn btn-primary" value="확인">
    </form>
</div>
{% endblock %}