{% extends 'base.html' %}
{% block content %}
<div class="mt-5 signup">
    <div class="text-center font-lg fw-bold">회원가입</div>
    <form action="{% url 'account:signup' %}" method="post">
        {% include 'includes/form_errors.html' %}
        {% csrf_token %}
        <div class="mt-3 form-floating">
            <input type="text" class="form-control" name="email" id="id_email"
                    value="" placeholder="E-mail">
            <label for="email">이메일</label>
        </div>
        <div class="mt-3 form-floating">
            <input type="password" class="form-control" name="password1" id="id_password1"
                    value="" placeholder="Password">
            <label for="password1">비밀번호</label>
        </div>
        <span id="id_check_capslock" class="font-sm fw-bold text-danger" style="display: none;">
            <i class="bi bi-exclamation-circle"></i>
            Capslock이 활성화되었습니다.
        </span>
        <div class="mt-3 form-floating">
            <input type="password" class="form-control" name="password2" id="id_password2"
                    value="" placeholder="Password">
            <label for="password2">비밀번호 확인</label>
        </div>
        <div class="mt-3 form-check">
            <div class="form-check p-0" style="font-size: 0.9rem;">
                <input class="form-check-input" type="checkbox" name="is_not_teen" id="id_is_not_teen">
                <label class="form-check-label fw-bold" for="id_is_not_teen">
                    [필수]만 14세 이상 본인입니다.
                </label>
            </div>
        </div>
        <div class="mt-3 form-check">
            <div class="form-check p-0" style="font-size: 0.9rem;">
                <input class="form-check-input" type="checkbox" name="terms_of_use_agree" id="id_terms_of_use_agree">
                <label class="form-check-label fw-bold" for="terms_of_use_agree">
                    [필수]서비스 이용약관에 동의합니다. 
                </label>
                <a class="float-end" href="#" data-bs-toggle="modal" data-bs-target="#terms_of_use_agree">보기</a>
            </div>
            <div class="modal modal-lg fade" id="terms_of_use_agree" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5">서비스 이용약관</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        {% include 'account/includes/modal/modal_terms_of_use_agree.html' %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 form-check">
            <div class="form-check p-0" style="font-size: 0.9rem;">
                <input class="form-check-input" type="checkbox" name="terms_of_privacy_agree" id="id_terms_of_privacy_agree">
                <label class="form-check-label fw-bold" for="terms_of_privacy_agree">
                    [필수]개인정보처리방침에 동의합니다. 
                </label>
                <a class="float-end" href="#" data-bs-toggle="modal" data-bs-target="#terms_of_privacy_agree">보기</a>
            </div>
            <div class="modal modal-lg fade" id="terms_of_privacy_agree" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5">개인정보처리방침</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        {% include 'account/includes/modal/modal_terms_of_privacy_agree.html' %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button id="id_send_pin" type="button" class="btn btn-primary mt-3 fw-bold w-100" data-bs-toggle="modal" data-bs-target="#email_verify_modal" style="height: 48px;">가입하기</button>
        
        <div class="modal fade" id="email_verify_modal" tabindex="-1" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title font-md">이메일 인증</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <p class="font-sm">
                                입력하신 이메일로 인증 메일이 발송되었습니다. 발송된 이메일 내 PIN 번호를 확인하신 후 30분 내로 입력해주세요.
                            </p>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="text" class="form-control" name="pin" id="pin"
                                    value="" placeholder="PIN">
                            <label for="pin">PIN 번호</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary font-sm" data-bs-dismiss="modal">닫기</button>
                        <input type="submit" class="btn btn-primary" value="확인">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).keydown(function(e) {
        if (e.which === 20) {
            if($('#id_check_capslock').css('display') === 'none') {
                $('#id_check_capslock').show();
            }
            else {
                $('#id_check_capslock').hide();
            }
        }
    });
</script>
<script>
    $(document).ready(function() {
        $("#id_send_pin").click(function(e){
            $.ajax({
                url: "{% url 'account:signup' %}",
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    email: $('input[name="email"]').val(),
                }
            });
        });
    });
</script>
{% endblock %}