{% extends 'admin_dashboard/layout/admin_base.html' %}
{% block content %}
<div class="row mt-3">
    <span class="font-lg fw-bold">기업정보 관리</span>
</div>
<div class="row mt-3">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link {% if tab == 'corp_id' %}active{% endif %} tabs" href="?tab=corp_id" data-tab-id="corp_id">기업 리스트</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if tab == 'corp_info' %}active{% endif %} tabs" href="?tab=corp_info" data-tab-id="corp_info">기업 정보</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if tab == 'corp_fs' %}active{% endif %} tabs" href="?tab=corp_fs" data-tab-id="corp_fs">기업 요약 재무제표</a>
        </li>
    </ul>
</div>

{% if tab == 'corp_fs' %}

{% endif %}

<div class="row mt-3">
    <div class="col-9">
        <div class="bg-white p-3">
            <table class="table table-bordered table-hover mt-3">
                <thead>
                    <tr class="bg-sub fw-bold font-sm text-white text-center">
                        <td>기업명</td>
                        {% if tab == 'corp_info' %}
                        <td>홈페이지 주소</td>
                        <td>기업 결산일</td>
                        <td>CEO 명</td>
                        <td>기업 소개</td>
                        {% elif tab == 'corp_fs' %}
                        <td>공시일</td>
                        <td>매출액</td>
                        <td>영업이익</td>
                        <td>당기순이익</td>
                        {% else %}
                        <td>소속 국가</td>
                        <td>소속 시장</td>
                        <td>ISIN번호</td>
                        <td>종목코드</td>
                        <td>소속 섹터</td>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for i in content.object_list %}
                    <tr class="font-sm text-center">
                        {% if tab == 'corp_info' %}
                        <td>
                            <a href="{% url 'admin:corp_info_change' i.corp_id.id %}">{{ i.corp_id.corp_name }}</a>
                        </td>
                        <td>{{ i.corp_homepage_url }}</td>
                        <td>{{ i.corp_settlement_date }}</td>
                        <td>{{ i.corp_ceo_name }}</td>
                        <td>{{ i.corp_summary }}</td>
                        {% elif tab == 'corp_fs' %}
                        <td>
                            <a href="{% url 'admin:corp_summary_change' i.corp_id.id %}">{{ i.corp_id.corp_name }}</a>
                        </td>
                        <td>{{ i.disclosure_date }}</td>
                        <td>{{ i.revenue }}</td>
                        <td>{{ i.operating_profit }}</td>
                        <td>{{ i.net_profit }}</td>
                        {% else %}
                        <td>
                            <a href="{% url 'admin:corp_id_change' i.id %}">{{ i.corp_name }}</a>
                        </td>
                        <td>{{ i.corp_country }}</td>
                        <td>{{ i.corp_market }}</td>
                        <td>{{ i.corp_isin }}</td>
                        <td>{{ i.stock_code }}</td>
                        <td>{{ i.corp_sectors }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <ul class="pagination pagination-sm justify-content-center">
                {% if content.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% if tab == 'corp_info'%}?tab=corp_info{% elif tab == 'corp_fs' %}?tab=corp_fs{% else %}?tab=corp_id{% endif %}&page={{ content.previous_page_number }}">이전</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
                {% endif %}
                {% for page_number in content.paginator.page_range %}
                {% if page_number == content.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="{% if tab == 'corp_info'%}?tab=corp_info{% elif tab == 'corp_fs' %}?tab=corp_fs{% else %}?tab=corp_id{% endif %}&page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{% if tab == 'corp_info'%}?tab=corp_info{% elif tab == 'corp_fs' %}?tab=corp_fs{% else %}?tab=corp_id{% endif %}&page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if content.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% if tab == 'corp_info'%}?tab=corp_info{% elif tab == 'corp_fs' %}?tab=corp_fs{% else %}?tab=corp_id{% endif %}&page={{ content.next_page_number }}">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
</script>
{% endblock %}