{% extends 'admin_dashboard/layout/admin_base.html' %}
{% block content %}
<div class="row mt-3">
    <span class="font-lg fw-bold">투자 지표 목록 관리</span>
</div>

<div class="row mt-3">
    <div class="col-9">
        <div class="bg-white p-3">
            <table class="table table-bordered table-hover mt-3">
                <thead>
                    <tr class="bg-sub fw-bold font-sm text-white text-center">
                        <td>기업명</td>
                        <td>종목코드</td>
                        <td>년도</td>
                        <td>분기</td>
                        <td>재무제표 유형</td>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in content.object_list %}
                    <tr class="font-sm text-center">
                        <td>
                            <a href="{% url 'admin:manage_index_update' obj.id %}">{{ obj.corp_id.corp_name }}</a>
                        </td>
                        <td>{{ obj.corp_id.stock_code }}</td>
                        <td>{{ obj.year }}</td>
                        <td>{{ obj.quarter }}</td>
                        {% if obj.fs_type == '0' %}
                        <td>연결</td>
                        {% else %}
                        <td>별도</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <ul class="pagination pagination-sm justify-content-center">
                {% if content.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ content.previous_page_number }}">이전</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
                {% endif %}
                {% for page_number in content.paginator.page_range %}
                {% if page_number >= content.number|add:-5 and page_number <= content.number|add:5 %}
                {% if page_number == content.number %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% if content.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ content.next_page_number }}">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}