{% extends 'base.html' %}
{% block content %}
<table class="table table-hover align-middle fs-sm text-center mt-3" id="table">
    <thead>
        <tr class="fw-semibold">
            <th>번호</th>
            <th>회사명</th>
            <th>결산월</th>
            <th>상장일</th>
            <th>최근 배당일</th>
            <th>배당률(%)</th>
            <th>홈페이지 주소</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for obj in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{% url 'services:reits_inquiry' obj.id %}" class="text-decoration-none">
                    {{ obj.corp_id.corp_name }}
                </a>
            </td>
            <td>{{ obj.settlement_cycle }}</td>
            <td>{{ obj.listing_date }}</td>
            <td>{{ obj.lastest_dividend_date }}</td>
            <td>{{ obj.lastest_dividend_rate }}</td>
            <td><a href="{{ obj.corp_homepage_url }}"><i class="bi bi-house-door-fill"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'includes/footer.html' %}
{% endblock %}