.bg-main {
    background-color: #044FBF;
}

.bg-sub {
    background-color: #0564F2;
}

.bg-white {
    background-color: #FFFFFF;
}

.font-lg {
    font-size: 30px;
}

.font-md {
    font-size: 20px;
}

.font-sm {
    font-size: 14px;
}

.font-min {
    font-size: 12px;
}

.font-gray {
    color: #A1A1A1 !important;
}

.login {
    padding-left: 20%;
    padding-right: 20%;
}

.footer a, .footer div {
    text-decoration-line:none !important;
    color: #A1A1A1;
}

.social a {
    text-decoration-line:none !important;
}