html {
    font-size: 16px;
}

@media (max-width: 1000px) {
    html {
        font-size: 12px;
    }
}

.bg-main {
    background-color: #044FBF;
}

.bg-sub {
    background-color: #0564F2;
}

.bg-white {
    background-color: #FFFFFF;
}

.font-lg {
    font-family: 'NanumSquareExtraBold';
    font-size: 1.75rem;

}

.font-md {
    font-family: 'NanumSquare';
    font-size: 1.25rem;
}

.font-sm {
    font-family: 'NanumSquareAcr';
    font-size: 1rem;
}

.font-min {
    font-family: 'NanumSquareLight';
    font-size: 0.9rem;
}

.font-gray {
    color: #A1A1A1 !important;
}

.login, .signup, .password-reset, .password-change {
    padding-left: 20%;
    padding-right: 20%;
}

.footer a, .footer div, .footer span {
    text-decoration-line:none !important;
    color: #A1A1A1;
}

.social a {
    text-decoration-line:none !important;
}

.collapse ul > li > a {
    text-decoration: none;
}

.button {
    background-color: #044FBF;
}