.header > span{
    font-size: 20px;
}

.applied_filter, .setting_filter {
    font-size: 12px;
    padding: 1px;
    margin: 2px;
    border: 1px solid #0564F2;
    border-radius: 5px;
}

.applied_filter_list, .setting_filter_list {
    width: 800px;
    padding: 5px;
    overflow: scroll;
    overflow: auto;
    white-space: nowrap;
}

.setting_filter_list > span {
    font-size: 12px;
}

.table-responsive {
    font-size: 14px;
}

th, td{
    text-align: center;
    vertical-align : middle;
    white-space: nowrap;
}

.modal-body {
    font-size: 14px;
}

ul {
    text-align: center;
    list-style: none;
    padding-left: 0px;
}

.dropdown-menu {
    text-align: center;
}

.dropdown-item {
    font-size: 14px;
    color: #000000;
    background-color: #FFFFFF;
}

.dropdown-item:hover {
    color: #FFFFFF;
    background-color: #0564F2;
}

.dropdown-item:active {
    color: #FFFFFF;
    background-color: #044FBF;
}

.setting_filter {
    font-size: 14px;
}

.filter_item:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #0564F2;
}

.filter_item:active {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #044FBF;
}

.submit {
    display: none;
}

.input_data {
    display: none;
}

.btn {
    color: #FFFFFF;
    font-size: 14px;
    background-color: #0564F2;
}

.btn:hover, .btn:active {
    color: #FFFFFF;
    background-color: #044FBF;
}

.btn:visited {
    color: #FFFFFF;
    background-color: #08090a;
}

.mr-3 {
    margin-right: 3px;
}

a {
    color: #000000;
    text-decoration-line: none;
}