{% extends 'base.html' %}
{% load static %}
{% load divide_marketcap %}
{% load convert_account %}
{% load get_attr %}
{% load humanize %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/corp_inquiry.css' %}">
{% endblock %}
{% block content %}

<div class="mt-5 mb-3" id="content">

    <div class="mt-3">
        <div class="fs-md fw-bold ps-3" style="border-left: 7px solid #044FBF;">
            <span class="me-1" style="vertical-align: middle;">{{ corp_id.corp_name }}</span>
            {% if corp_info.corp_summary %}
            <button class="btn btn-sm btn-primary fw-bold" data-bs-toggle="dropdown" aria-expanded="false">기업소개<i class="bi bi-caret-down-fill"></i></button>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                <span class="px-3" style="font-size: 0.8rem;">{{ corp_info.corp_summary }}</span>
            </div>
            {% endif %}
            <a class="btn btn-sm btn-primary fw-bold" href="https://{{ corp_info.corp_homepage_url }}"><i class="bi bi-house"></i> 홈페이지</a>
        </div>
        <div class="mt-2">
            <span class="fs-md fw-semibold">{{ latest_stock_info.close_price|floatformat:'0'|intcomma }}</span>

            {% if latest_stock_info.change_price < 0 %}
            <span class="fs-sm fw-semibold"><b class="text-primary">▼</b> {{ latest_stock_info.change_price|floatformat:'0'|intcomma }} ({{ latest_stock_info.change_rate|floatformat:'2'|intcomma }}%)</span>
            {% elif latest_stock_info.change_price == 0 %}
            <span class="fs-sm fw-semibold"><b class="text-black">-</b> {{ latest_stock_info.change_price|floatformat:'0'|intcomma }} ({{ latest_stock_info.change_rate|floatformat:'2'|intcomma }}%)</span>
            {% else %}
            <span class="fs-sm fw-semibold"><b class="text-danger">▲</b> {{ latest_stock_info.change_price|floatformat:'0'|intcomma }} ({{ latest_stock_info.change_rate|floatformat:'2'|intcomma }}%)</span>
            {% endif %}
            <span class="fs-min fw-semibold text-black-50">{{ latest_stock_info.trade_date }} 기준</span>
            <span class="badge text-bg-light">{{ corp_id.stock_code }}</span>
            <span class="badge text-bg-light">{{ corp_id.corp_isin }}</span>
            <span class="badge text-bg-light">{{ corp_id.corp_market }}</span>
            <span class="badge text-bg-light">{{ corp_id.corp_sectors }}</span>
        </div>
    </div>

    <div class="mt-4">
        <div class="fs-md fw-bold ps-3" style="border-left: 7px solid #044FBF;">
            <span class="me-1" style="vertical-align: middle;">주가정보</span>
        </div>
        
        <div id="chart_info">
            <div class="row mb-4">
                <div class="col chart_tab">
                    <ul class="nav nav-underline chart_tabs d-flex flex-nowrap">
                        <li class="nav-item">
                            <a class="nav-link fs-sm" href="javascript:void(0);">1개월</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-sm" href="javascript:void(0);">3개월</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-sm" href="javascript:void(0);">1년</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-sm" href="javascript:void(0);">3년</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active fs-sm" href="javascript:void(0);">전체</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="chart" style="width: 100%; height: 300px;"></div>
        </div>

        <div>
            <div class="row mb-4">
                <div class="col fs-min fw-semibold text-black-50 text-end">* 단위: 원, 주</div>
            </div>
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td class="fw-bold text-center">52주 최고/최저</td>
                        {% if week_52_price %}
                        <td class="text-end"><span class="text-danger">{{ week_52_price.high_price|floatformat:'0'|intcomma }}</span>/<span class="text-primary">{{ week_52_price.low_price|floatformat:'0'|intcomma }}</span></td>
                        {% else %}
                        <td class="text-end">-</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="fw-bold text-center">거래량</td>
                        <td class="text-end">{{ latest_stock_info.trade_quantity|floatformat:'0'|intcomma }}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold text-center">거래대금</td>
                        <td class="text-end">{{ latest_stock_info.trade_price|floatformat:'0'|intcomma }}</td>
                    </tr>
                    <tr>
                        <td class="fw-bold text-center">시가총액</td>
                        {% if latest_stock_info.market_capitalization >= 100_000_000_000 %}
                        <td class="text-end">{{ latest_stock_info.market_capitalization|divide_marketcap|intcomma }}</td>
                        {% elif latest_stock_info.market_capitalization >= 100_000_000 %}
                        <td class="text-end">{{ latest_stock_info.market_capitalization|divide_marketcap|intcomma }}</td>
                        {% else %}
                        <td class="text-end">{{ latest_stock_info.market_capitalization|floatformat:'0'|intcomma }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="fw-bold text-center">상장주식수</td>
                        <td class="text-end">{{ latest_stock_info.total_stock|floatformat:'0'|intcomma }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-4">
        <div class="fs-md fw-bold ps-3" style="border-left: 7px solid #044FBF;">
            <span style="vertical-align: middle;">요약재무정보</span>
        </div>
        <div class="row mb-3">
            <div class="col">
                <span class="fs-min fw-bold text-black-50 my-2" style="vertical-align: middle;">* IFRS 기준, 단위: 억원, 배, %</span>
            </div>
            <div class="col">
                {% if check_fs_types == 'cfs' %}
                <div class="btn-group btn-group-sm float-end">
                    <input type="radio" class="btn-check" name="fs_type" id="sfs" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="sfs">별도</label>

                    <input type="radio" class="btn-check" name="fs_type" id="cfs" autocomplete="off">
                    <label class="btn btn-outline-primary" for="cfs">연결</label>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="fs-sm fw-bold bg-main text-white p-2">수익성</div>
                <canvas id="profit_chart"></canvas>
            </div>
            <div class="col">
                <div class="fs-sm fw-bold bg-main text-white p-2">안정성</div>
                <canvas id="stability_chart"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="fs-sm fw-bold bg-main text-white p-2">활동성</div>
                <canvas id="activity_chart"></canvas>
            </div>
            <div class="col">
                <div class="fs-sm fw-bold bg-main text-white p-2">성장성</div>
                <canvas id="growth_chart"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="fs-sm fw-bold bg-main text-white p-2">배당</div>
                <canvas id="dividend_chart"></canvas>
            </div>
            <div class="col">
                <div class="fs-sm fw-bold bg-main text-white p-2">투자지표</div>
                <canvas id="investment_chart"></canvas>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <div class="fs-md fw-bold ps-3" style="border-left: 7px solid #044FBF;">
            <span class="me-1" style="vertical-align: middle;">공시</span>
        </div>

        <div>
            <div class="my-2">
                <div class="fs-min text-black-50 fw-bold">공시정보는 최대 3년 이내, 100개만 제공됩니다.</div>
            </div>
            <table class="table table-hover text-center fs-sm" id="disclosure_table">
                <thead>
                    <tr class="fw-semibold">
                        <td style="width: 10%;">No.</td>
                        <td style="width: 65%;">제목</td>
                        <td style="width: 15%;">제출인</td>
                        <td style="width: 10%;">공시일</td>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% if page_obj %}
                        {% for data in page_obj %}
                        <tr>
                            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                            <td>
                                <a href="https://dart.fss.or.kr/dsaf001/main.do?rcpNo={{ data.rcept_no }}" target="_blank" class="text-decoration-none">
                                    {{ data.report_nm|truncatechars:100 }}
                                </a>
                            </td>
                            <td>{{ data.flr_nm|truncatechars:25 }} </td>
                            <td>{{ data.rcept_dt|slice:'0:4' }}-{{ data.rcept_dt|slice:'4:6' }}-{{ data.rcept_dt|slice:'6:8' }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">데이터가 없습니다.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <div class="d-grid gap-2">
                <button id="load_more_button" class="btn btn-light" onclick="paging()">더보기( {{ page_obj|length }} / {{ page_obj.paginator.count }} )</button>
            </div>
        </div>
    </div>
</div>

<div class="bg-light p-3 mt-3">
    <p class="fs-min fw-bold">* Aimdat이 제공하는 정보는 신뢰할만한 기관이 제공하는 정보를 직접 가공하여 얻은 정보이나, 정보의 완전성과 정확성을 보장하지 않습니다.</p>
    <span class="fs-min fw-bold">* Aimdat이 제공하는 정보를 통한 투자 결과에 대한 책임은 투자자 본인에게 있습니다.</span>
</div>

<input id="page" type="hidden" data-page="{{ page_obj.number }}">
{% include 'includes/footer.html' %}
{% endblock %}
{% block script %}
<script src="{% static 'js/lightweight-charts.standalone.production.js' %}"></script>
<script src="{% static 'js/chart.umd.min.js' %}"></script>
<script>
    var chartOptions = { 
        layout: { 
            textColor: 'black', background: { type: 'solid', color: 'white' },
        },
    };
    var container = document.getElementById('chart');
    var chart = LightweightCharts.createChart(container, chartOptions);

    var candlestickSeries = chart.addAreaSeries({
        {% if latest_stock_info.change_price < 0 %}
        topColor: "rgba(46, 46, 254, 0.56)",
        bottomColor: "rgba(38,198,218, 0.04)",
        lineColor: "rgba(1, 1, 223, 0.75)",
        {% else %}
        topColor: "rgba(254, 46, 46, 0.56)",
        bottomColor: "rgba(38,198,218, 0.04)",
        lineColor: "rgba(223, 1, 1, 0.75)",
        {% endif %}
        lineWidth: 2
    });

    candlestickSeries.priceScale().applyOptions({
        scaleMargins: {
            top: 0.2,
            bottom: 0.3,
        },
    });

    var data = [
        {% for data in stock_data %}
        {
            time: '{{ data.trade_date }}',
            value: {{ data.close_price }}
        },
        {% endfor %}
    ];
    
    candlestickSeries.setData(data);
    
    var volumeSeries = chart.addHistogramSeries({
        topColor: undefined, 
        bottomColor: undefined, 
        priceScaleId: '',
        priceFormat: {
            type: "volume"
        },
        overlay: true,
    });
    volumeSeries.priceScale().applyOptions({
        scaleMargins: {
            top: 0.8,
            bottom: 0,
        },
    });
    var trade_data = [
        {% for data in stock_data %}
        {
            time: '{{ data.trade_date }}',
            value: {{ data.trade_quantity }},
        },
        {% endfor %}
    ];

    volumeSeries.setData(trade_data);
    chart.timeScale().fitContent();
    
    /* 차트 크기 자동 맞춤 */
    window.addEventListener('resize', function() {
        chart.resize(
            container.offsetWidth,
            container.offsetHeight
        );
    });

    /** 차트 기간 설정 버튼 */
    $('.chart_tabs a').on('click', function() {
        $('.chart_tabs > li > a').removeClass('active');
        $(this).parent('li').children('a').addClass('active');
        now = new Date();

        switch ($(this).parent('li').index()) {
            case 0:
                chart.timeScale().setVisibleRange({
                    from: new Date(now.getTime()).setMonth(now.getMonth() - 1) / 1000,
                    to: (new Date(now)).getTime() / 1000,
                });
                startDate = new Date(now.getTime()).setMonth(now.getMonth() - 1) / 1000
                endDate = (new Date(now)).getTime() / 1000
                break;
            case 1:
                chart.timeScale().setVisibleRange({
                    from: new Date(now.getTime()).setMonth(now.getMonth() - 3) / 1000,
                    to: (new Date(now)).getTime() / 1000,
                });
                startDate = new Date(now.getTime()).setMonth(now.getMonth() - 3) / 1000
                endDate = (new Date(now)).getTime() / 1000
                break;
            case 2:
                chart.timeScale().setVisibleRange({
                    from: new Date(now.getTime()).setMonth(now.getMonth() - 12) / 1000,
                    to: (new Date(now)).getTime() / 1000,
                });
                startDate = new Date(now.getTime()).setMonth(now.getMonth() - 12) / 1000
                endDate = (new Date(now)).getTime() / 1000
                break;
            case 3:
                chart.timeScale().setVisibleRange({
                    from: new Date(now.getTime()).setMonth(now.getMonth() - 36) / 1000,
                    to: (new Date(now)).getTime() / 1000,
                });
                startDate = new Date(now.getTime()).setMonth(now.getMonth() - 36) / 1000
                endDate = (new Date(now)).getTime() / 1000
                break;
            case 4:
                chart.timeScale().fitContent();
                break;
        }
    });

    if (Number($('#price').text()) > 0) {
        $('.color').css('color', '#ff3545');
    } else {
        $('.color').css('color', '#1058ca');
    }
</script>
<script>
    /* 수익성 차트 */
    var profit_chart = document.getElementById("profit_chart").getContext("2d");
    new Chart(profit_chart, {
        data: {
            datasets: [{
                type: 'line',
                label: '매출원가율',
                yAxisID: 'line',
                order: 1,
                data: [
                    {% for item in report_data %}
                        {% for value in item.cost_of_sales_ratio %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            },{
                type: 'line',
                label: '영업이익률',
                yAxisID: 'line',
                order: 1,
                data: [
                    {% for item in report_data %}
                        {% for value in item.operating_margin %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            },{
                type: 'line',
                label: '순이익률',
                yAxisID: 'line',
                order: 1,
                data: [
                    {% for item in report_data %}
                        {% for value in item.net_profit_margin %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'line',
                label: 'ROIC',
                yAxisID: 'line',
                order: 1,
                data: [
                    {% for item in report_data %}
                        {% for value in item.roic %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'line',
                label: 'ROE',
                yAxisID: 'line',
                order: 1,
                data: [
                    {% for item in report_data %}
                        {% for value in item.roe %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'line',
                label: 'ROA',
                yAxisID: 'line',
                order: 1,
                data: [
                    {% for item in report_data %}
                        {% for value in item.roa %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'bar',
                label: '매출액',
                yAxisID: 'bar',
                order: 2,
                data: [
                    {% for item in report_data %}
                        {% for value in item.revenue %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ]
                
            }, {
                type: 'bar',
                label: '영업이익',
                order: 2,
                yAxisID: 'bar',
                data: [
                    {% for item in report_data %}
                        {% for value in item.operating_profit %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ]
                
            }, {
                type: 'bar',
                label: '당기순이익',
                order: 2,
                yAxisID: 'bar',
                data: [
                    {% for item in report_data %}
                        {% for value in item.net_profit %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ]
                
            }],
            labels: [
                {% for date in fs_date %}
                "{{ date.year }}.{{ date.quarter }}",
                {% endfor %}
            ]
        },
        options: {
            interaction: {
                mode: 'index',
            },
            plugins: {
                tooltip: {
                    intersect: false
                }
            }
        }
    });

    /* 안정성 차트 */
    var stability_chart = document.getElementById("stability_chart").getContext("2d");
    new Chart(stability_chart, {
        data: {
            datasets: [{
                type: 'line',
                label: '유동비율',
                order: 1,
                yAxisID: 'line',
                data: [
                    {% for item in report_data %}
                        {% for value in item.current_ratio %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            },{
                type: 'line',
                label: '당좌비율',
                order: 1,
                yAxisID: 'line',
                data: [
                    {% for item in report_data %}
                        {% for value in item.quick_ratio %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'line',
                label: '부채비율',
                order: 1,
                yAxisID: 'line',
                data: [
                    {% for item in report_data %}
                        {% for value in item.debt_ratio %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'bar',
                label: '총자산',
                order: 2,
                yAxisID: 'bar',
                data: [
                    {% for item in report_data %}
                        {% for value in item.total_assets %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ]
            }, {
                type: 'bar',
                label: '총부채',
                order: 2,
                yAxisID: 'bar',
                data: [
                    {% for item in report_data %}
                        {% for value in item.total_debt %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ]
            }, {
                type: 'bar',
                label: '총자본',
                order: 2,
                yAxisID: 'bar',
                data: [
                    {% for item in report_data %}
                        {% for value in item.total_capital %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ]
            }, ],
            labels: [
                {% for date in fs_date %}
                "{{ date.year }}.{{ date.quarter }}",
                {% endfor %}
            ]
        },
        options: {
            interaction: {
                mode: 'index',
            },
            plugins: {
                tooltip: {
                    intersect: false
                }
            }
        }
    });

    /* 활동성 차트 */
    var activity_chart = document.getElementById("activity_chart").getContext("2d");
    new Chart(activity_chart, {
        data: {
            datasets: [{
                type: 'line',
                label: '총자산회전율',
                order: 1,
                yAxisID: 'line',
                data: [
                    {% for item in report_data %}
                        {% for value in item.total_assets_turnover %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'line',
                label: '재고자산회전율',
                order: 1,
                yAxisID: 'line',
                data: [
                    {% for item in report_data %}
                        {% for value in item.inventory_turnover %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'line',
                label: '매출채권회전율',
                order: 1,
                yAxisID: 'line',
                data: [
                    {% for item in report_data %}
                        {% for value in item.accounts_receivables_turnover %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'line',
                label: '매입채무회전율',
                order: 1,
                yAxisID: 'line',
                data: [
                    {% for item in report_data %}
                        {% for value in item.accounts_payable_turnover %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'line',
                label: '운전자본소요율(일)',
                order: 1,
                yAxisID: 'line',
                data: [
                    {% for item in report_data %}
                        {% for value in item.working_capital_requirement %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'bar',
                label: '1회 운전자본',
                yAxisID: 'bar2',
                order: 2,
                data: [
                    {% for item in report_data %}
                        {% for value in item.working_capital_once %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ]
            }, ],
            labels: [
                {% for date in fs_date %}
                "{{ date.year }}.{{ date.quarter }}",
                {% endfor %}
            ]
        },
        options: {
            interaction: {
                mode: 'index',
            },
            plugins: {
                tooltip: {
                    intersect: false
                }
            }
        }
    });

    /* 성장성 차트 */
    var growth_chart = document.getElementById("growth_chart").getContext("2d");
    new Chart(growth_chart, {
        data: {
            datasets: [{
                type: 'line',
                label: '매출액성장률',
                data: [
                    {% for item in report_data %}
                        {% for value in item.revenue_growth %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'line',
                label: '영업이익성장률',
                data: [
                    {% for item in report_data %}
                        {% for value in item.operating_profit_growth %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'line',
                label: '순이익성장률',
                data: [
                    {% for item in report_data %}
                        {% for value in item.net_profit_growth %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'line',
                label: '자기자본증가율',
                data: [
                    {% for item in report_data %}
                        {% for value in item.net_worth_growth %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'line',
                label: '총자산증가율',
                data: [
                    {% for item in report_data %}
                        {% for value in item.assets_growth %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ]
            }, ],
            labels: [
                {% for date in fs_date %}
                "{{ date.year }}.{{ date.quarter }}",
                {% endfor %}
            ]
        },
        options: {
            interaction: {
                mode: 'index',
            },
            plugins: {
                tooltip: {
                    intersect: false
                }
            }
        }
    });

    /* 배당 차트 */
    var dividend_chart = document.getElementById("dividend_chart").getContext("2d");
    new Chart(dividend_chart, {
        data: {
            datasets: [{
                type: 'line',
                label: '배당률',
                yAxisID: 'line',
                order: 1,
                data: [
                    {% for item in report_data %}
                        {% for value in item.dividend_ratio %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'line',
                label: '배당성향',
                yAxisID: 'line',
                order: 1,
                data: [
                    {% for item in report_data %}
                        {% for value in item.dividend_payout_ratio %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            },{
                type: 'bar',
                label: '배당총액',
                yAxisID: 'bar',
                order: 2,
                data: [
                    {% for item in report_data %}
                        {% for value in item.dividend %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ]
            }, {
                type: 'bar',
                label: '주당배당금(원)',
                yAxisID: 'bar2',
                order: 2,
                data: [
                    {% for item in report_data %}
                        {% for value in item.dps %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ]
            }, ],
            labels: [
                {% for date in fs_date %}
                "{{ date.year }}.{{ date.quarter }}",
                {% endfor %}
            ]
        },
        options: {
            interaction: {
                mode: 'index',
            },
            plugins: {
                tooltip: {
                    intersect: false
                }
            }
        }
    });

    /* 투자지표 차트 */
    var investment_chart = document.getElementById("investment_chart").getContext("2d");
    new Chart(investment_chart, {
        data: {
            datasets: [{
                type: 'line',
                label: 'PER',
                data: [
                    {% for item in report_data %}
                        {% for value in item.per %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'line',
                label: 'PBR',
                data: [
                    {% for item in report_data %}
                        {% for value in item.pbr %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'line',
                label: 'PSR',
                data: [
                    {% for item in report_data %}
                        {% for value in item.psr %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'line',
                label: 'EV/EBITDA',
                data: [
                    {% for item in report_data %}
                        {% for value in item.ev_ebitda %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            }, {
                type: 'line',
                label: 'EV/OCF',
                data: [
                    {% for item in report_data %}
                        {% for value in item.ev_ocf %}
                        "{{ value }}",
                        {% endfor %}
                    {% endfor %}
                ],
            },],
            labels: [
                {% for date in fs_date %}
                "{{ date.year }}.{{ date.quarter }}",
                {% endfor %}
            ]
        },
        options: {
            interaction: {
                mode: 'index',
            },
            plugins: {
                tooltip: {
                    intersect: false
                }
            }
        }
    });
</script>

<script>
    page_number = Number($('#page').data('page'));
    
    /* 공시 페이징 */
    function paging() {
        var disclosure_table = $('#disclosure_table');
        var totalPages = {{ page_obj.paginator.num_pages }};

        page_number += 1;

        if (page_number <= totalPages) {
            $.get({
                url: "{% url 'services:corp_inquiry' corp_info.id %}",
                data: {
                    'page': JSON.stringify(page_number)
                },
                success: function(response) {
                    var responseHTML = $.parseHTML(response);
                    var rows = $(responseHTML).find("#disclosure_table tbody tr");

                    rows.each(function() {
                        disclosure_table.find("tbody").append($(this));
                    })
                    
                    $("#load_more_button").text("더보기( " + {{ page_obj|length }} * page_number + " / {{ page_obj.paginator.count }} )");
                    
                    if (page_number == totalPages) {
                        $("#load_more_button").prop("disabled", true);
                        $("#load_more_button").text("더보기( {{ page_obj.paginator.count }} / {{ page_obj.paginator.count }} )");
                    }

                    $('#page').remove();
                    $('.footer').before().before(page);
                }
            });
        }
    }

    $(document).ready(function() {
        
        /** 재무제표 조회 */
        $('input[name="fs_type"]').on('click', function() {
            var fs_type = $(this).attr('id')

            $.get({
                url: "{% url 'services:corp_inquiry' corp_info.id %}",
                data: {
                    fs_type: fs_type
                },
                success: function(data) {
                    $('body').children().remove();
                    $('body').html(data.render);
                    $('body').find('#'+fs_type).prop('checked', true);
                }
            });
        });
    });
</script>
{% endblock %}