{% extends 'base.html' %}
{% load static %}
{% load divide_marketcap %}
{% load convert_account %}
{% load get_attr %}
{% load humanize %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/corp_inquiry.css' %}">
{% endblock %}
{% block content %}
<div class="mt-5 card">
    <div class="card-body">
        <div>
            <span class="fs-md fw-semibold">{{ corp_id.corp_name }}</span>
            <a class="bi bi-house" href="https://{{ corp_info.corp_homepage_url }}"></a>
            <div class="btn-group dropend">
                <button type="button" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu">
                    <div class="fs-min px-3">
                        <div><span class="fw-semibold">결산월:</span> {{ corp_info.corp_settlement_month }}월</div>
                        <div><span class="fw-semibold">CEO 명:</span> {{ corp_info.corp_ceo_name }}</div>
                    </div>
                </ul>
            </div>
            <span class="badge text-bg-light">{{ corp_id.stock_code }}</span>
            <span class="badge text-bg-light">{{ corp_id.corp_isin }}</span>
            <span class="badge text-bg-light">{{ corp_id.corp_market }}</span>
            <span class="badge text-bg-light">{{ corp_id.corp_sectors }}</span>
        </div>
        <div>
            <span class="fs-md fw-semibold">{{ latest_stock_info.close_price|floatformat:'0'|intcomma }}</span>

            {% if latest_stock_info.change_price < 0 %}
            <span class="fs-sm fw-semibold"><b class="text-primary">▼</b> {{ latest_stock_info.change_price|floatformat:'0'|intcomma }} ({{ latest_stock_info.change_rate|floatformat:'2'|intcomma }}%)</span>
            {% elif latest_stock_info.change_price == 0 %}
            <span class="fs-sm fw-semibold"><b class="text-black">-</b> {{ latest_stock_info.change_price|floatformat:'0'|intcomma }} ({{ latest_stock_info.change_rate|floatformat:'2'|intcomma }}%)</span>
            {% else %}
            <span class="fs-sm fw-semibold"><b class="text-danger">▲</b> {{ latest_stock_info.change_price|floatformat:'0'|intcomma }} ({{ latest_stock_info.change_rate|floatformat:'2'|intcomma }}%)</span>
            {% endif %}

            <span class="fs-min fw-semibold text-black-50">{{ latest_stock_info.trade_date }} 기준</span>
        </div>
        <div class="mt-2">
            <div class="fs-sm fw-semibold">기업소개</div>
            <div class="fs-sm">
                {% if corp_info.corp_summary is None %}
                내용이 없습니다.
                {% else %}
                {{ corp_info.corp_summary|safe }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="card mt-4">
    <div class="card-body">
        <div id="chart_info">
            <div class="row mb-4">
                <div class="col chart_tab">
                    <ul class="nav nav-underline chart_tabs d-flex flex-nowrap">
                        <li class="nav-item">
                            <a class="nav-link fs-sm" href="javascript:void(0);">1개월</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-sm" href="javascript:void(0);">3개월</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-sm" href="javascript:void(0);">1년</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-sm" href="javascript:void(0);">3년</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active fs-sm" href="javascript:void(0);">전체</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="chart" style="width: 100%; height: 300px;"></div>
        </div>

        <hr class="my-3">

        <div id="stock_info">
            <div class="row mb-4">
                <div class="col fs-md fw-semibold">주식정보</div>
                <div class="col fs-sm fw-semibold text-black-50 text-end">(단위: 원, 주)</div>
            </div>
            <div id="stock_value" class="row">
                <div class="col fw-semibold">
                    <div>52주 최고/최저</div>
                    <div>거래량</div>
                    <div>거래대금</div>
                    <div>시가총액</div>
                    <div>상장주식수</div>
                </div>
                <div class="col text-end">
                    {% if week_52_price %}
                    <div><span class="text-danger">{{ week_52_price.high_price|floatformat:'0'|intcomma }}</span>/<span class="text-primary">{{ week_52_price.low_price|floatformat:'0'|intcomma }}</span></div>
                    {% else %}
                    <div>-</div>
                    {% endif %}
                    <div>{{ latest_stock_info.trade_quantity|floatformat:'0'|intcomma }}</div>
                    <div>{{ latest_stock_info.trade_price|floatformat:'0'|intcomma }}</div>
                    <!-- 시가총액 단위 -->
                    {% if latest_stock_info.market_capitalization >= 100_000_000_000 %}
                    <div>{{ latest_stock_info.market_capitalization|divide_marketcap|intcomma }}</div>
                    {% elif latest_stock_info.market_capitalization >= 100_000_000 %}
                    <div>{{ latest_stock_info.market_capitalization|divide_marketcap|intcomma }}</div>
                    {% else %}
                    <div>{{ latest_stock_info.market_capitalization|floatformat:'0'|intcomma }}</div>
                    {% endif %}
                    <div>{{ latest_stock_info.total_stock|floatformat:'0'|intcomma }}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-4 card">
    <div class="card-body">
        <ul id="corp_info_tabs" class="nav nav-underline mb-3" style="box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 10%) inset;">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="javascript:void(0);">재무정보</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);">공시</a>
            </li>
        </ul>

        <!-- 재무정보 -->
        <div id="id_fs_info">
            <div class="row my-2">
                <div class="col fs-min d-flex align-items-center fw-semibold text-black-50 text-start">IFRS 기준, (단위: 억원, 배, %)</div>
                <div class="col text-end">
                    <div class="btn-group" role="group">
                        <input type="radio" class="btn-check" name="btnradio" id="cfs" autocomplete="off" checked>
                        <label class="btn btn-sm btn-outline-primary" for="cfs">연결</label>
                      
                        <input type="radio" class="btn-check" name="btnradio" id="sfs" autocomplete="off">
                        <label class="btn btn-sm btn-outline-primary" for="sfs">별도</label>
                    </div>
                </div>
            </div>
            {% if fs_date %}
            <div id="id_table_wrapper" style="overflow-x: auto;">
                <table class="table table-bordered text-center fs-sm">
                    <thead class="bg-light">
                        <tr class="fw-semibold">
                            <th style="position: sticky; border-right: 2px solid rgba(0, 0, 0, 30%); width: 15%;"></th>
                            {% for date in fs_date %}
                            <th>{{ date.year }}년 {{ date.quarter }}분기</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in report_data %}
                        <tr>
                            {% for key, values in data.items %}
                            <td class="fw-semibold" style="border-right: 2px solid rgba(0, 0, 0, 30%);">{{ key|convert_account }}</td>
                                {% for value in values %}
                                    {% if value is not None %}
                                    <td>{{ value|floatformat:'2'|intcomma }}</td>
                                    {% else %}
                                    <td>-</td>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <table class="table table-bordered text-center fs-sm">
                    <thead class="bg-light">
                        <tr class="fw-semibold">
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fw-semibold">재무제표가 존재하지 않습니다.</td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
        
        <!-- 공시정보 -->
        <div id="disclosure_info" style="display: none;">
            <div class="my-2">
                <div class="fs-min text-black-50 fw-bold">공시정보는 최대 3년 이내, 100개만 제공됩니다.</div>
            </div>
            <table class="table table-hover text-center fs-sm" id="table">
                <thead>
                    <tr class="fw-semibold">
                        <td style="width: 10%;">No.</td>
                        <td style="width: 65%;">제목</td>
                        <td style="width: 15%;">제출인</td>
                        <td style="width: 10%;">공시일</td>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% if page_obj %}
                        {% for data in page_obj %}
                        <tr>
                            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                            <td>
                                <a href="https://dart.fss.or.kr/dsaf001/main.do?rcpNo={{ data.rcept_no }}" target="_blank" class="text-decoration-none">
                                    {{ data.report_nm|truncatechars:100 }}
                                </a>
                            </td>
                            <td>{{ data.flr_nm|truncatechars:25 }} </td>
                            <td>{{ data.rcept_dt|slice:'0:4' }}-{{ data.rcept_dt|slice:'4:6' }}-{{ data.rcept_dt|slice:'6:8' }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">데이터가 없습니다.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <div class="d-grid gap-2">
                <button id="load_more_button" class="btn btn-light" onclick="paging()">더보기( {{ page_obj|length }} / {{ page_obj.paginator.count }} )</button>
            </div>
        </div>
    </div>
</div>
<input id="page" type="hidden" data-page="{{ page_obj.number }}">
{% include 'includes/footer.html' %}
{% endblock %}
{% block script %}
<script src="{% static 'js/lightweight-charts.standalone.production.js' %}"></script>
<script>
    $(document).ready(function() {
        page_number = Number($('#page').data('page'));

        $('#corp_info_tabs > li').on('click', function() {
            if($('#corp_info_tabs > li > a').hasClass('nav-link active') == true) {
                $('#corp_info_tabs > li > a').removeClass('active');
            }
            $(this).children('a').addClass('active');

            switch($(this).index()) {
                case 0:
                    $('#disclosure_info').hide();
                    $('#id_fs_info').show();
                    break;
                case 1:
                    $('#id_fs_info').hide();
                    $('#disclosure_info').show();
                    break;
            }
        });
    });
</script>
<script>
    const chartOptions = { 
        layout: { 
            textColor: 'black', background: { type: 'solid', color: 'white' },
        },
    };
    const container = document.getElementById('chart');
    const chart = LightweightCharts.createChart(container, chartOptions);

    const candlestickSeries = chart.addAreaSeries({
        {% if latest_stock_info.change_price < 0 %}
        topColor: "rgba(46, 46, 254, 0.56)",
        bottomColor: "rgba(38,198,218, 0.04)",
        lineColor: "rgba(1, 1, 223, 0.75)",
        {% else %}
        topColor: "rgba(254, 46, 46, 0.56)",
        bottomColor: "rgba(38,198,218, 0.04)",
        lineColor: "rgba(223, 1, 1, 0.75)",
        {% endif %}
        lineWidth: 2
    });

    candlestickSeries.priceScale().applyOptions({
        scaleMargins: {
            top: 0.2,
            bottom: 0.3,
        },
    });

    const data = [
        {% for data in stock_data %}
        {
            time: '{{ data.trade_date }}',
            value: {{ data.close_price }}
        },
        {% endfor %}
    ];
    
    candlestickSeries.setData(data);
    
    const volumeSeries = chart.addHistogramSeries({
        topColor: undefined, 
        bottomColor: undefined, 
        priceScaleId: '',
        priceFormat: {
            type: "volume"
        },
        overlay: true,
    });
    volumeSeries.priceScale().applyOptions({
        scaleMargins: {
            top: 0.8,
            bottom: 0,
        },
    });
    const trade_data = [
        {% for data in stock_data %}
        {
            time: '{{ data.trade_date }}',
            value: {{ data.trade_quantity }},
        },
        {% endfor %}
    ];

    volumeSeries.setData(trade_data);
    chart.timeScale().fitContent();
    
    /* 차트 크기 자동 맞춤 */
    window.addEventListener('resize', function() {
        chart.resize(
            container.offsetWidth,
            container.offsetHeight
        );
    });

    /** 차트 기간 설정 버튼 */
    $('.chart_tabs a').on('click', function() {
        $('.chart_tabs > li > a').removeClass('active');
        $(this).parent('li').children('a').addClass('active');
        now = new Date();

        switch ($(this).parent('li').index()) {
            case 0:
                chart.timeScale().setVisibleRange({
                    from: new Date(now.getTime()).setMonth(now.getMonth() - 1) / 1000,
                    to: (new Date(now)).getTime() / 1000,
                });
                startDate = new Date(now.getTime()).setMonth(now.getMonth() - 1) / 1000
                endDate = (new Date(now)).getTime() / 1000
                break;
            case 1:
                chart.timeScale().setVisibleRange({
                    from: new Date(now.getTime()).setMonth(now.getMonth() - 3) / 1000,
                    to: (new Date(now)).getTime() / 1000,
                });
                startDate = new Date(now.getTime()).setMonth(now.getMonth() - 3) / 1000
                endDate = (new Date(now)).getTime() / 1000
                break;
            case 2:
                chart.timeScale().setVisibleRange({
                    from: new Date(now.getTime()).setMonth(now.getMonth() - 12) / 1000,
                    to: (new Date(now)).getTime() / 1000,
                });
                startDate = new Date(now.getTime()).setMonth(now.getMonth() - 12) / 1000
                endDate = (new Date(now)).getTime() / 1000
                break;
            case 3:
                chart.timeScale().setVisibleRange({
                    from: new Date(now.getTime()).setMonth(now.getMonth() - 36) / 1000,
                    to: (new Date(now)).getTime() / 1000,
                });
                startDate = new Date(now.getTime()).setMonth(now.getMonth() - 36) / 1000
                endDate = (new Date(now)).getTime() / 1000
                break;
            case 4:
                chart.timeScale().fitContent();
                break;
        }
    });

    if (Number($('#price').text()) > 0) {
        $('.color').css('color', '#ff3545');
    } else {
        $('.color').css('color', '#1058ca');
    }
</script>
<script>
    $(document).ready(function() {
        /** 재무제표 조회 */
        $('input[name="btnradio"]').on('click', function() {
            $.get({
                url: "{% url 'services:corp_inquiry' corp_info.id %}",
                data: {
                    fs_type: $(this).attr('id')
                },
                error: function() {
                    alert('로그인이 필요한 서비스입니다.');
                    location.href = "{% url 'account:login' %}"
                },
                success: function() {
                    var responseHTML = $.parseHTML(response);
                    var table = $(responseHTML).find('#id_table_wrapper table');

                    $('#id_table_wrapper table').remove();
                    $('#id_table_wrapper').append(table);
                }
            });
        });
    });

    /** 공시 페이징 */
    function paging() {
        var table = $('#table');
        var totalPages = {{ page_obj.paginator.num_pages }};

        page_number += 1;

        if (page_number <= totalPages) {
            $.get({
                url: "{% url 'services:corp_inquiry' corp_info.id %}",
                data: {
                    'page': JSON.stringify(page_number)
                },
                error: function() {
                    alert('로그인이 필요한 서비스입니다.');
                    location.href = "{% url 'account:login' %}"
                },
                success: function(response) {
                    var responseHTML = $.parseHTML(response);
                    var rows = $(responseHTML).find("#table tbody tr");

                    rows.each(function() {
                        table.find("tbody").append($(this));
                    })
                    
                    $("#load_more_button").text("더보기( " + {{ page_obj|length }} * page_number + " / {{ page_obj.paginator.count }} )");
                    
                    if (page_number == totalPages) {
                        $("#load_more_button").prop("disabled", true);
                        $("#load_more_button").text("더보기( {{ page_obj.paginator.count }} / {{ page_obj.paginator.count }} )");
                    }

                    $('#page').remove();
                    $('.footer').before().before(page);
                }
            });
        }
    }
</script>
{% endblock %}