{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load get_attr %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
<style>
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance:textfield;
    }
</style>
{% endblock %}
{% block content %}
<div class="mt-5">
    <span class="font-md fw-bold">검색결과</span>
    <span class="font-sm fw-semibold">총 {{ paginator.count }}건</span>
</div>

<div class="row">
    <div class="col-9">
        <div class="align-items-center mt-3">
            {% if request.session.corp_name %}
                {% if request.session.corp_name|length == 6 and request.session.corp_name.isdigit %}
                <span class="badge text-bg-primary">종목코드: {{ request.session.corp_name }}</span>
                {% else %}
                <span class="badge text-bg-primary">기업명: {{ request.session.corp_name }}</span>
                {% endif %}
            {% endif %}
            
            {% if request.session.year and request.session.quarter and request.session.fs_type %}
            <span class="badge text-bg-primary">
                {{ request.session.year }}년 
                {{ request.session.quarter }}분기, 
                {% if request.session.fs_type == '0' %}
                연결
                {% else %}
                별도
                {% endif %}
            </span>
            {% else %}
            <span class="badge text-bg-primary">
                {{ year }}년 
                {{ quarter.max_value }}분기, 
                별도
            </span>
            {% endif %}

            {% for key, value in index.items %}
                <span class="badge text-bg-primary">
                    {{ key }}: 
                    {% if value.min == '전체' %}
                    {{ value.min }}
                    {% elif value.min == '이상' %}
                    {{ value.max }} 이상
                    {% elif value.max == '이하' %}
                    {{ value.min }} 이하
                    {% else %}
                    {{ value.min }} ~ {{ value.max }}
                    {% endif %}
                </span>
            {% endfor %}
        </div>
    </div>
    <div class="col-3">
        <div class="float-end">
            <button id="id_reset_filters" type="button" class="btn btn-sm btn-primary">필터 초기화</button>
            <form id="checked_corp_list" class="d-inline-block" action="{% url 'services:analysis' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-primary mx-1">기업분석</button>
            </form>
            <button type="button" class="btn btn-sm btn-primary filter_set" data-bs-toggle="modal" data-bs-target="#filter-modal">필터설정</button>
        </div>
    </div>
</div>

<table class="table table-hover align-middle font-sm text-center mt-3" id="table">
    <thead>
        <tr class="bg-sub fw-bold" style="color: white;">
            <th class="text-center" style="width:5%">No.</th>
            <th class="text-center" style="width:15%">회사명</th>
            {% for key in index.keys %}
            <th class="text-center">{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}
        <tr>
            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
            <td class="d-flex flex-wrap justify-content-start">
                <div class="d-flex align-items-center col-12">
                    <input type="checkbox" name="checked_corp" value="{{ obj.corp_id }}, {{ obj.year }}, {{ obj.quarter }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="분석할 기업을 선택하세요.">
                    <a href="{% url 'services:corp_inquiry' obj.corp_id %}" class="text-decoration-none" style="color:black;">{{ obj.corp_id_id__corp_name }}</a>
                </div>
                <span class="badge text-bg-primary" style="margin-right: 1%;">{{ obj.corp_id_id__corp_country }}</span>
                <span class="badge text-bg-primary" style="margin-right: 1%;">{{ obj.corp_id_id__corp_market }}</span>
                <span class="badge text-bg-primary">{{ obj.corp_id_id__corp_sectors }}</span>
            </td>
            {% for key in index.keys %}
            <td>{{ obj|get_attr:key }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul class="pagination justify-content-center pagination-sm">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    {% for page_number in page_obj.paginator.page_range %}
    {% if page_number >= page_obj.number|add:-5 and page_number <= page_obj.number|add:5 %}
    {% if page_number == page_obj.number %}
    <li class="page-item active" aria-current="page">
        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</ul>
{% include 'includes/footer.html' %}

<div class="modal modal-lg" id="filter-modal" tabindex="-1" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title font-md fw-semibold" style="width: 80px;">필터설정</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-underline filter_tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="javascript:void(0);">계정과목</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);">투자지표</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);">배당</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);">재무제표</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="input-group font-sm">
                            <input class="form-control" id="id_search_corp_name" name="corp" type="text" placeholder="기업명·종목코드 입력" onkeyup="searchCorpName(this)">
                            <button class="btn btn-sm btn-primary" onclick="searchCorpName(this)"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </div>
                <div id="id_apply_filters" class="mt-3">
                    <span>필터:</span>
                </div>
                <hr>
                <div class="row mt-2">
                    <div id="index" class="col-3 font-sm">
                        <div id="account_index">
                            <ul class="nav nav-pills nav-fill flex-column index_tabs">
                                {% for ko, en in account_index.items %}
                                <li class="nav-item" data-index-name="{{ en }}">
                                    <a class="nav-link" href="javascript:void(0);">{{ ko }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div id="investment_index" style="display: none;">
                            <ul class="nav nav-pills nav-fill flex-column index_tabs">
                                {% for ko, en in investment_index.items %}
                                <li class="nav-item" data-index-name="{{ en }}">
                                    <a class="nav-link" href="javascript:void(0);">{{ ko }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div id="dividend_index" style="display: none;">
                            <ul class="nav nav-pills nav-fill flex-column index_tabs">
                                {% for ko, en in dividend_index.items %}
                                <li class="nav-item" data-index-name="{{ en }}">
                                    <a class="nav-link" href="javascript:void(0);">{{ ko }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div id="fs_options" style="display: none;">
                        <div class="mx-2 mb-3">
                            <span class="font-sm text-black-50">* 재무제표는 한 가지만 선택할 수 있습니다.</span>
                        </div>
                        <div class="row mx-2 mb-3">
                            <select class="form-select col" name="year">
                                {% now "Y" as current_year %}
                                <option selected>년도</option>
                                <option value="{{ current_year }}">{{ current_year }}</option>
                                <option value="{{ current_year|add:'-1' }}">{{ current_year|add:'-1' }}</option>
                                <option value="{{ current_year|add:'-2' }}">{{ current_year|add:'-2' }}</option>
                                <option value="{{ current_year|add:'-3' }}">{{ current_year|add:'-3' }}</option>
                            </select>
    
                            <select class="form-select col mx-2" name="quarter">
                                <option selected>분기</option>
                                <option value="1">1분기</option>
                                <option value="2">2분기</option>
                                <option value="3">3분기</option>
                                <option value="4">4분기</option>
                            </select>
    
                            <select class="form-select col" name="fs_type">
                                <option selected>재무제표 유형</option>
                                <option value="0">연결</option>
                                <option value="5">별도</option>
                            </select>
                        </div>
                        
                        <button id="id_set_fs_options" class="btn btn-sm btn-primary font-sm float-end mx-2">추가</button>
                    </div>

                    <div id="id_insert_index" class="col-9" style="display: none;">
                        <div class="row mb-3">
                            <span class="col text-md fw-semibold"></span>
                            <span class="col font-sm text-black-50 text-end">단위: 억원, 배, %</span>
                        </div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" id="id_min" placeholder=" ">
                                    <label for="id_min">최소값</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" id="id_max" placeholder=" ">
                                    <label for="id_min">최대값</label>
                                </div>
                            </div>
                        </div>

                        <button id="id_add_index" class="btn btn-sm btn-primary font-sm float-end">추가</button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-outline-dark" data-bs-dismiss="modal">취소</button>
                <button id="submit_search" class="btn btn-sm btn-primary">완료</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/search_view.js' %}"></script>
<script src="{% static 'js/datatables.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script>
    var indexes = {}

    /** Index 삭제 함수 */
    function removeIndex(remove_this, filter_name) {
        $(remove_this).parent('span').remove();
        delete indexes[filter_name];
    }
</script>
<script>
    /** 탭 선택 */
    $(document).ready(function() {
        $('.filter_tabs > li').on('click', function() {
            if($('.filter_tabs > li > a').hasClass('nav-link active') == true) {
                $('.filter_tabs > li > a').removeClass('active');
            }
            $(this).children('a').addClass('active');

            switch($(this).index()) {
                case 0:
                    $('#index > div').hide();
                    $('#fs_options').hide();
                    $('#id_insert_index').hide();
                    $('#account_index').show();
                    break;
                case 1:
                    $('#index > div').hide();
                    $('#fs_options').hide();
                    $('#id_insert_index').hide();
                    $('#investment_index').show();
                    break;
                case 2:
                    $('#index > div').hide();
                    $('#fs_options').hide();
                    $('#id_insert_index').hide();
                    $('#dividend_index').show();
                    break;
                case 3:
                    $('#index > div').hide();
                    $('#id_insert_index').hide();
                    $('#fs_options').show();
                    break;
            }
        });

        $('.index_tabs > li').on('click', function() {
            if($('.index_tabs > li > a').hasClass('nav-link active') == true) {
                $('.index_tabs > li > a').removeClass('active');
            }
            $(this).children('a').addClass('active');

            $('#id_insert_index').show();
            $('#id_insert_index > div').children('span:eq(0)').html($(this).children('a').text());
            $('#id_min').val('');
            $('#id_max').val('');
        });
    });
</script>
<script>
    /** 필터 추가(계정과목, 투자지표, 배당) */
    $(document).ready(function() {
        $('#id_add_index').on('click', function() {
            min_val = $('#id_min').val();
            max_val = $('#id_max').val();
            filter_name = $('#id_insert_index > div').children('span:eq(0)').text();

            if ($.isNumeric(min_val) == true && $.isNumeric(max_val) == true) {
                if (Number(min_val) <= Number(max_val)) {
                    if (Object.keys(indexes).some(v => v == filter_name)) {
                        alert('이미 적용된 필터입니다.');
                    }
                    else {
                        apply_index = '<span class="badge text-bg-primary text-white mx-1">' +
                                        '<span>'+filter_name+': '+min_val+' ~ '+max_val+'</span>'+
                                        '<span class="btn-close btn-close-white mx-1 text-end remove_index" onclick="removeIndex(this, filter_name);"></span>'+
                                    '</span>';

                        $('#id_apply_filters').append(apply_index);
                        indexes[filter_name] = {'min': min_val, 'max': max_val};
                    }
                }
                else {
                    alert('최소값이 최대값보다 클 수 없습니다.');
                }
            }
            // 이상
            else if ($.isNumeric(min_val) == true && $.isNumeric(max_val) == false) {
                if (Object.keys(indexes).some(v => v == filter_name)) {
                        alert('이미 적용된 필터입니다.');
                }
                else {
                    apply_index = '<span class="badge text-bg-primary text-white mx-1">' +
                                    '<span>'+filter_name+': '+min_val+' 이상'+'</span>'+
                                    '<span class="btn-close btn-close-white mx-1 text-end remove_index" onclick="removeIndex(this, filter_name);"></span>'+
                                '</span>';

                    $('#id_apply_filters').append(apply_index);
                    indexes[filter_name] = {'min': min_val, 'max': '이상'};
                }
            }
            // 이하
            else if ($.isNumeric(min_val) == false && $.isNumeric(max_val) == true) {
                if (Object.keys(indexes).some(v => v == filter_name)) {
                        alert('이미 적용된 필터입니다.');
                }
                else {
                    apply_index = '<span class="badge text-bg-primary text-white mx-1">' +
                                    '<span>'+filter_name+': '+max_val+' 이하'+'</span>'+
                                    '<span class="btn-close btn-close-white mx-1 text-end remove_index" onclick="removeIndex(this, filter_name);"></span>'+
                                '</span>';

                    $('#id_apply_filters').append(apply_index);
                    indexes[filter_name] = {'min': '이하', 'max': max_val};
                }
            }
            else if (min_val == '' && max_val == ''){
                if (Object.keys(indexes).some(v => v == filter_name)) {
                        alert('이미 적용된 필터입니다.');
                }
                else {
                    apply_index = '<span class="badge text-bg-primary text-white mx-1">' +
                                    '<span>'+filter_name+': 전체'+'</span>'+
                                    '<span class="btn-close btn-close-white mx-1 text-end remove_index" onclick="removeIndex(this, filter_name);"></span>'+
                                '</span>';

                    $('#id_apply_filters').append(apply_index);
                    indexes[filter_name] = {'min': '전체', 'max': '전체'};
                }
            }
            else {
                alert('올바른 값을 입력하세요.');
            }
        });

        /** 필터 추가(재무제표) */
        $('#id_set_fs_options').on('click', function() {
            year = $('select[name="year"] option:selected').val();
            quarter = $('select[name="quarter"] option:selected').val();
            fs_type = $('select[name="fs_type"] option:selected').val();
            filter_name = 'fs_options'

            if (year == '년도' || quarter == '분기' || fs_type == '재무제표 유형') {
                alert('년도, 분기, 재무제표 유형 모두 선택해주세요.');
            }
            else {
                if (fs_type == 0) {
                    fs_type_name = '연결'
                }
                else if (fs_type == 5) {
                    fs_type_name = '별도'
                }

                if (Object.keys(indexes).some(v => v == filter_name)) {
                        alert('이미 적용된 필터입니다.');
                }
                else {
                    apply_index = '<span class="badge text-bg-primary mx-1">' +
                                    '<span>'+year+'년 '+quarter+' 분기, '+fs_type_name+'</span>'+
                                    '<span class="btn-close btn-close-white mx-1 text-end remove_index" onclick="removeIndex(this, filter_name);"></span>'+
                                '</span>';

                    $('#id_apply_filters').append(apply_index);
                    indexes[filter_name] = {'year': year, 'quarter': quarter, 'fs_type': fs_type};
                }
            }
        });
    });

    /** 필터 추가(기업명, 종목코드) */
    function searchCorpName(search_this) {
        corp_name = $('#id_search_corp_name').val();
        filter_name = 'corp_name';

        if ($(search_this).prop('tagName') == 'INPUT' && event.keyCode == 13 || $(search_this).prop('tagName') == 'BUTTON') {
            if ($.isNumeric(corp_name) == true && corp_name.length == 6) {
                if (Object.keys(indexes).some(v => v == filter_name)) {
                    alert('이미 적용된 필터입니다.');
                }
                else {
                    apply_index = '<span class="badge text-bg-primary mx-1">' +
                                    '<span>'+'종목코드: '+corp_name+'</span>'+
                                    '<span class="btn-close btn-close-white mx-1 text-end remove_index" onclick="removeIndex(this, filter_name);"></span>'+
                                '</span>';

                    $('#id_apply_filters').append(apply_index);
                    indexes[filter_name] = corp_name;
                }
            }
            else if ($.isNumeric(corp_name) == false) {
                if (Object.keys(indexes).some(v => v == filter_name)) {
                    alert('이미 적용된 필터입니다.');
                }
                else {
                    apply_index = '<span class="badge text-bg-primary mx-1">' +
                                    '<span>'+'기업명: '+corp_name+'</span>'+
                                    '<span class="btn-close btn-close-white mx-1 text-end remove_index" onclick="removeIndex(this, filter_name);"></span>'+
                                '</span>';

                    $('#id_apply_filters').append(apply_index);
                    indexes[filter_name] = corp_name;
                }
            }
            else {
                alert('올바른 값을 입력해주세요.');
            }
        }
    }
</script>
<script>
    /** 검색 */
    $('#submit_search').on('click', function() {
        $.post({
            url: "{% url 'services:search' %}",
            data: JSON.stringify(indexes),
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            }
        }).done(function(response) {
            $('#filter-modal').modal('hide');
            location.reload();
        });
    });

    /** 필터 초기화 */
    $('#id_reset_filters').on('click', function() {
        $.post({
            url: "{% url 'services:search' %}",
            data: 'reset',
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
        }).done(function() {
            location.reload();
        });
    });

    /** 분석 기업 추가/취소 */
    $('input[name="checked_corp"]').on('click', function() {
        if ($(this).is(':checked') == true) {
            var checked_corp = $(this).clone().hide();
            $('#checked_corp_list').append(checked_corp);
        }
        else {
            var checked_corp_val = $(this).val();

            $('#checked_corp_list').find('input').filter(function() {
                if($(this).val() === checked_corp_val) {
                    $(this).remove();
                }
            });
        }
    });
</script>
<script>
$('#table').DataTable({
    searching: false,
    paging: false,
    language: {
        info: '',
        infoEmpty: '',
        zeroRecords: '검색된 데이터가 없습니다.',
    },
});
</script>
{% endblock %}