{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load get_attr %}
{% load convert_account %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}
{% block content %}
<div class="mt-5">
    <span class="fs-md fw-bold">검색결과</span>
    <span class="fs-sm fw-semibold">총 {{ paginator.count }}건</span>
</div>

<div class="row align-items-center">
    <div class="col-8">
        <div class="fs-sm">
            {% if request.session.corp_name %}
                {% if request.session.corp_name|length == 6 and request.session.corp_name.isdigit %}
                <span class="badge text-bg-light">종목코드: {{ request.session.corp_name }}</span>
                {% else %}
                <span class="badge text-bg-light">기업명: {{ request.session.corp_name }}</span>
                {% endif %}
            {% endif %}
            
            {% if request.session.year and request.session.quarter and request.session.fs_type %}
            <span class="badge text-bg-light">
                {{ request.session.year }}년 {{ request.session.quarter }}분기, {% if request.session.fs_type == '0' %}연결{% else %}별도{% endif %}재무제표 기준
            </span>
            {% else %}
            <span class="badge text-bg-light">{{ year }}년 {{ quarter }}분기, 별도재무제표 기준</span>
            {% endif %}
        </div>
    </div>
    <div class="col-4 d-flex justify-content-end">
        <div class="float-end">
            <button id="id_reset_filters" type="button" class="btn btn-outline-dark btn-sm"><i class="bi bi-arrow-clockwise fs-md" data-bs-toggle="tooltip" daxt-bg-primaryta-bs-placement="top" data-bs-title="필터초기화"></i></button>
            <form id="checked_corp_list" class="d-inline-block" action="{% url 'services:analysis' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark btn-sm mx-1"><i class="bi bi-graph-up fs-md" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="기업분석"></i></button>
            </form>
            <button type="button" class="btn btn-outline-dark  btn-sm filter_set fw-bold" data-bs-toggle="modal" data-bs-target="#filter-modal"><i class="bi bi-sliders2 fs-md" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="필터설정"></i></button>
        </div>
    </div>
</div>

<div id="id_table_wrapper" style="overflow-x: auto;">
    <table class="table table-hover align-middle fs-sm text-center mt-3" id="table">
        <thead>
            <div class="fs-min text-end mt-3 text-black-50">단위: 억원, 배, %</div>
            <tr class="fw-semibold">
                <th class="text-left asc" data-account-name="corp_name">회사명<i class="bi bi-caret-up-fill ordering"></i></th>
                {% for key in index.keys %}
                <th class="text-center" data-account-name="{{ key }}">{{ key|convert_account }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for obj in object_list %}
            <tr>
                <td class="d-flex flex-wrap justify-content-start px-3">
                    <div class="d-flex align-items-center col-12">
                        <input class="m-0" type="checkbox" name="checked_corp" value="{{ obj.corp_id }},{{ obj.year }},{{ obj.quarter }},{% if request.session.fs_type %}{{ request.session.fs_type }}{% else %}5{% endif %}" 
                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="분석기업 선택">&nbsp;
                        <a href="{% url 'services:corp_inquiry' obj.corp_id %}" class="text-decoration-none fs-sm fw-semibold" style="color:black;">{{ obj.corp_id_id__corp_name }}</a>
                    </div>
                    <span class="badge badge-margin text-bg-light">{{ obj.corp_id_id__corp_market }}</span>
                    <span class="badge badge-margin text-bg-light">대분류: {{ obj.corp_id_id__corp_sectors_main }}</span>
                    <span class="badge badge-margin text-bg-light">소분류: {{ obj.corp_id_id__corp_sectors }}</span>
                </td>
                {% for key in index.keys %}
                <td>{{ obj|get_attr:key|floatformat:'2'|intcomma }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-grid gap-2">
        <button id="load_more_button" class="btn btn-light" onclick="paging()">더보기( {{ object_list|length }} / {{ paginator.count }} )</button>
    </div>
</div>

{% include 'includes/footer.html' %}

<div class="modal modal-lg" id="filter-modal" tabindex="-1" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title fs-md fw-semibold">필터설정</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <div class="col"></div>
                    <div class="col">
                        <div class="input-group fs-sm">
                            <input class="form-control" id="id_search_corp_name" name="corp" type="text" placeholder="기업명·종목코드 입력" onkeyup="searchCorpName(this)">
                            <button class="btn btn-sm btn-secondary" onclick="searchCorpName(this)"><i class="bi bi-search fs-md"></i></button>
                        </div>
                    </div>
                </div>
                <div class="filter_tab">
                    <ul class="nav nav-underline filter_tabs d-flex flex-nowrap">
                        <li class="nav-item">
                            <a class="nav-link active fs-sm" href="javascript:void(0);">계정과목</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-sm" href="javascript:void(0);">안정성</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-sm" href="javascript:void(0);">수익성</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-sm" href="javascript:void(0);">활동성</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-sm" href="javascript:void(0);">성장성</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-sm" href="javascript:void(0);">투자지표</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-sm" href="javascript:void(0);">배당</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-sm" href="javascript:void(0);">재무제표</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-sm" href="javascript:void(0);">섹터</a>
                        </li>
                    </ul>
                </div>
                <div id="id_apply_filters" class="fs-sm mt-3">
                </div>
                <hr>
                <div class="row mt-2">
                    <div id="index" class="col-3 fs-sm p-2">
                        <div id="account_index" style="overflow: auto; height: 180px;">
                            <ul class="nav nav-pills nav-fill flex-column index_tabs">
                                {% for index in account_index %}
                                <li class="nav-item" data-index-name="{{ index }}">
                                    <a class="nav-link" href="javascript:void(0);">{{ index|convert_account }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div id="safety_index" style="display: none; overflow: auto; height: 180px;">
                            <ul class="nav nav-pills nav-fill flex-column index_tabs">
                                {% for index in safety_index %}
                                <li class="nav-item" data-index-name="{{ index }}">
                                    <a class="nav-link" href="javascript:void(0);">{{ index|convert_account }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div id="profitability_index" style="display: none; overflow: auto; height: 180px;">
                            <ul class="nav nav-pills nav-fill flex-column index_tabs">
                                {% for index in profitability_index %}
                                <li class="nav-item" data-index-name="{{ index }}">
                                    <a class="nav-link" href="javascript:void(0);">{{ index|convert_account }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div id="activity_index" style="display: none; overflow: auto; height: 180px;">
                            <ul class="nav nav-pills nav-fill flex-column index_tabs">
                                {% for index in activity_index %}
                                <li class="nav-item" data-index-name="{{ index }}">
                                    <a class="nav-link" href="javascript:void(0);">{{ index|convert_account }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div id="growth_index" style="display: none; overflow: auto; height: 180px;">
                            <ul class="nav nav-pills nav-fill flex-column index_tabs">
                                {% for index in growth_index %}
                                <li class="nav-item" data-index-name="{{ index }}">
                                    <a class="nav-link" href="javascript:void(0);">{{ index|convert_account }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>


                        <div id="investment_index" style="display: none; overflow: auto; height: 180px;">
                            <ul class="nav nav-pills nav-fill flex-column index_tabs">
                                {% for index in investment_index %}
                                <li class="nav-item" data-index-name="{{ index }}">
                                    <a class="nav-link" href="javascript:void(0);">{{ index|convert_account }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div id="dividend_index" style="display: none; overflow: auto; height: 180px;">
                            <ul class="nav nav-pills nav-fill flex-column index_tabs">
                                {% for index in dividend_index %}
                                <li class="nav-item" data-index-name="{{ index }}">
                                    <a class="nav-link" href="javascript:void(0);">{{ index|convert_account }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div id="fs_options" style="display: none;">
                        <div class="mx-2 mb-3">
                            <span class="fs-min text-black-50">* 재무제표는 한 분기 내 한 개만 선택할 수 있습니다.</span>
                        </div>
                        <div class="row mx-2 mb-3">
                            <select class="form-select form-select-sm col fs-sm" name="year">
                                {% now "Y" as current_year %}
                                <option selected>년도</option>
                                <option value="{{ current_year }}">{{ current_year }}</option>
                                <option value="{{ current_year|add:'-1' }}">{{ current_year|add:'-1' }}</option>
                                <option value="{{ current_year|add:'-2' }}">{{ current_year|add:'-2' }}</option>
                                <option value="{{ current_year|add:'-3' }}">{{ current_year|add:'-3' }}</option>
                            </select>
    
                            <select class="form-select form-select-sm col mx-2 fs-sm" name="quarter">
                                <option selected>분기</option>
                                <option value="1">1분기</option>
                                <option value="2">2분기</option>
                                <option value="3">3분기</option>
                                <option value="4">4분기</option>
                            </select>
    
                            <select class="form-select form-select-sm col fs-sm" name="fs_type">
                                <option selected>재무제표</option>
                                <option value="0">연결</option>
                                <option value="5">별도</option>
                            </select>
                        </div>
                        
                        <button id="id_set_fs_options" class="btn btn-secondary fs-sm float-end mx-2">추가</button>
                    </div>

                    <div id="corp_sectors" style="display: none;">

                        <select class="form-select form-select-sm col fs-sm mb-3" name="corp_sector_list">
                            <option value="섹터선택">섹터선택</option>
                            {% for corp_sector in corp_sectors %}
                            <option value="{{ corp_sector }}">{{ corp_sector }}</option>
                            {% endfor %}
                        </select>

                        <button id="id_set_corp_sectors" class="btn btn-secondary fs-sm float-end mx-2">추가</button>
                    </div>

                    <div id="id_insert_index" class="col-8" style="display: none;">
                        <div class="row mb-3">
                            <span class="col fs-md fw-semibold" data-filter-name=""></span>
                            <span class="col fs-min text-end text-black-50">단위: 억원, 배, %</span>
                        </div>

                        <div class="d-flex align-items-center mb-3">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="id_min" placeholder=" ">
                                    <label class="fs-sm" for="id_min">최소값</label>
                                </div>
                            </div>
                            <div class="mx-2">~</div>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="id_max" placeholder=" ">
                                    <label class="fs-sm" for="id_min">최대값</label>
                                </div>
                            </div>
                        </div>

                        <button id="id_add_index" class="btn btn-secondary fs-sm float-end">추가</button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary" data-bs-dismiss="modal">취소</button>
                <button id="submit_search" class="btn btn-primary fw-bold">완료</button>
            </div>
        </div>
    </div>
</div>

<input id="page" type="hidden" data-page="{{ page_obj.number }}">
{% endblock %}
{% block script %}
<script src="{% static 'js/search_view.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script>
    var indexes = {}
    var filter_name = '';
    var filter_name_en = '';

    /** Index 삭제 함수 */
    function removeIndex(remove_this, filter_name) {
        $(remove_this).remove();
        delete indexes[filter_name];
    }
</script>
<script>
    /** 탭 선택 */
    $(document).ready(function() {
        $('.filter_tabs > li').on('click', function() {
            $('.filter_tabs > li > a').removeClass('active');
            $(this).children('a').addClass('active');

            switch($(this).index()) {
                case 0:
                    $('#index > div').hide();
                    $('#corp_sectors').hide();
                    $('#fs_options').hide();
                    $('#id_insert_index').hide();
                    $('#account_index').show();
                    break;
                case 1:
                    $('#index > div').hide();
                    $('#corp_sectors').hide();
                    $('#fs_options').hide();
                    $('#id_insert_index').hide();
                    $('#safety_index').show();
                    break;
                case 2:
                    $('#index > div').hide();
                    $('#corp_sectors').hide();
                    $('#fs_options').hide();
                    $('#id_insert_index').hide();
                    $('#profitability_index').show();
                    break;
                case 3:
                    $('#index > div').hide();
                    $('#corp_sectors').hide();
                    $('#fs_options').hide();
                    $('#id_insert_index').hide();
                    $('#activity_index').show();
                    break;
                case 4:
                    $('#index > div').hide();
                    $('#corp_sectors').hide();
                    $('#fs_options').hide();
                    $('#id_insert_index').hide();
                    $('#growth_index').show();
                    break;
                case 5:
                    $('#index > div').hide();
                    $('#corp_sectors').hide();
                    $('#fs_options').hide();
                    $('#id_insert_index').hide();
                    $('#investment_index').show();
                    break;
                case 6:
                    $('#index > div').hide();
                    $('#corp_sectors').hide();
                    $('#fs_options').hide();
                    $('#id_insert_index').hide();
                    $('#dividend_index').show();
                    break;
                case 7:
                    $('#index > div').hide();
                    $('#corp_sectors').hide();
                    $('#id_insert_index').hide();
                    $('#fs_options').show();
                    break;
                case 8:
                    $('#index > div').hide();
                    $('#id_insert_index').hide();
                    $('#corp_sectors').show();
                    break;
            }
        });

        $('.index_tabs > li').on('click', function() {
            if($('.index_tabs > li > a').hasClass('nav-link active') == true) {
                $('.index_tabs > li > a').removeClass('active');
            }
            $(this).children('a').addClass('active');

            $('#id_insert_index').show();
            $('#id_insert_index > div').children('span:eq(0)').html($(this).children('a').text());
            $('#id_insert_index > div').children('span:eq(0)').attr('data-filter-name', $(this).data('index-name'));
            $('#id_min').val('');
            $('#id_max').val('');
        });
    });
</script>
<script>
    $(document).ready(function() {
        /** 기존 설정 기업 */
        {% if request.session.corp_name %}
        filter_name = 'corp_name'
        apply_index = '<span id="corp_name" class="badge text-bg-light" onclick=removeIndex(this,'+'"'+ filter_name +'"'+');>' +
            '<span>'+'기업명(종목코드): {{ request.session.corp_name }}</span>'+
            '<span class="btn-close ms-1 text-end"></span>'+
            '</span>';

        $('#id_apply_filters').append(apply_index);
        indexes[filter_name] = '{{ request.session.corp_name }}';
        {% endif %}

        /** 기존 설정 섹터 */
        {% if request.session.corp_sector %}
        filter_name = 'corp_sector'
        apply_index = '<span id="corp_sector" class="badge text-bg-light" onclick=removeIndex(this,'+'"'+ filter_name +'"'+');>' +
            '<span>'+'섹터: {{ request.session.corp_sector }}</span>'+
            '<span class="btn-close ms-1 text-end"></span>'+
            '</span>';

        $('#id_apply_filters').append(apply_index);
        indexes[filter_name] = '{{ request.session.corp_sector }}';
        {% endif %}

        /** 기존 설정 재무제표 */
        {% if request.session.fs_type == '0' %}
        fs_type = '연결'
        {% else %}
        fs_type = '별도'
        {% endif %}
        
        filter_name = 'fs_options'
        
        apply_index = '<span id="fs_type" class="badge text-bg-light" onclick=removeIndex(this,'+'"'+ filter_name +'"'+');>' +
            '<span>{% if request.session.year and request.session.quarter and request.session.fs_type %}{{ request.session.year }}년 {{ request.session.quarter }}분기 {% else %}{{ year }}년 {{ quarter }}분기 {% endif %}, '+fs_type+'</span>'+
            '<span class="btn-close ms-1 text-end"></span>'+
            '</span>';

        $('#id_apply_filters').append(apply_index);

        indexes[filter_name] = {'year': '{{ request.session.year }}', 'quarter': '{{ request.session.quarter }}', 'fs_type': '{{ request.session.fs_type }}'};        

        /** 기존 설정 필터 */
        {% for key, value in index.items %}
        filter_name_en = '{{ key }}';
        apply_index = '<span id="'+filter_name_en+'" class="badge text-bg-light" onclick=removeIndex(this,'+'"'+ filter_name_en +'"'+');>' +
            '<span>{{ key|convert_account }}: {% if value.min == "전체" %} {{ value.min }} {% elif value.min == "이하" %} {{ value.max }} 이하 {% elif value.max == "이상" %} {{ value.min }} 이상 {% else %} {{ value.min }} ~ {{ value.max }} {% endif %}</span>' +
            '<span class="btn-close ms-1 text-end"></span>'+
            '</span>';

        $('#id_apply_filters').append(apply_index);
        indexes['{{ key }}'] = {'min': '{{ value.min }}', 'max': '{{ value.max }}'}
        {% endfor %}

        /** 필터 추가(계정과목, 투자지표, 배당) */
        $('#id_add_index').on('click', function() {
            min_val = $('#id_min').val();
            max_val = $('#id_max').val();
            filter_name_ko = $('#id_insert_index > div').eq(0).children('span:eq(0)').text();
            filter_name_en = $('#id_insert_index > div').children('span:eq(0)').attr('data-filter-name');

            if ($.isNumeric(min_val) == true && $.isNumeric(max_val) == true) {
                if (Number(min_val) <= Number(max_val)) {
                    apply_index = '<span id="'+filter_name_en+'" class="badge text-bg-light" onclick=removeIndex(this,'+'"'+ filter_name_en +'"'+');>' +
                                    '<span>'+filter_name_ko+': '+min_val+' ~ '+max_val+'</span>'+
                                    '<span class="btn-close ms-1 text-end"></span>'+
                                '</span>';
                    
                    $('#'+filter_name_en).remove();
                    $('#id_apply_filters').append(apply_index);
                    indexes[filter_name_en] = {'min': min_val, 'max': max_val};
                }
                else {
                    alert('최소값이 최대값보다 클 수 없습니다.');
                }
            }
            // 이상
            else if ($.isNumeric(min_val) == true && $.isNumeric(max_val) == false) {
                apply_index = '<span id="'+filter_name_en+'" class="badge text-bg-light" onclick=removeIndex(this,'+'"'+ filter_name_en +'"'+');>' +
                                '<span>'+filter_name_ko+': '+min_val+' 이상'+'</span>'+
                                '<span class="btn-close ms-1 text-end"></span>'+
                            '</span>';
                    
                $('#'+filter_name_en).remove();
                $('#id_apply_filters').append(apply_index);
                indexes[filter_name_en] = {'min': min_val, 'max': '이상'};
            }
            // 이하
            else if ($.isNumeric(min_val) == false && $.isNumeric(max_val) == true) {
                apply_index = '<span id="'+filter_name_en+'" class="badge text-bg-light" onclick=removeIndex(this,'+'"'+ filter_name_en +'"'+');>' +
                                '<span>'+filter_name_ko+': '+max_val+' 이하'+'</span>'+
                                '<span class="btn-close ms-1 text-end"></span>'+
                            '</span>';
                
                $('#'+filter_name_en).remove();
                $('#id_apply_filters').append(apply_index);
                indexes[filter_name_en] = {'min': '이하', 'max': max_val};
            }
            else if (min_val == '' && max_val == ''){
                apply_index = '<span id="'+filter_name_en+'" class="badge text-bg-light" onclick=removeIndex(this,'+'"'+ filter_name_en +'"'+');>' +
                                '<span>'+filter_name_ko+': 전체'+'</span>'+
                                '<span class="btn-close ms-1 text-end"></span>'+
                            '</span>';
                
                $('#'+filter_name_en).remove();
                $('#id_apply_filters').append(apply_index);
                indexes[filter_name_en] = {'min': '전체', 'max': '전체'};
            }
            else {
                alert('올바른 값을 입력하세요.');
            }
        });

        /** 필터 추가(재무제표) */
        $('#id_set_fs_options').on('click', function() {
            year = $('select[name="year"] option:selected').val();
            quarter = $('select[name="quarter"] option:selected').val();
            fs_type = $('select[name="fs_type"] option:selected').val();
            filter_name = 'fs_options'

            if (year == '년도' || quarter == '분기' || fs_type == '재무제표 유형') {
                alert('년도, 분기, 재무제표 유형 모두 선택해주세요.');
            }
            else {
                if (fs_type == 0) {
                    fs_type_name = '연결'
                }
                else if (fs_type == 5) {
                    fs_type_name = '별도'
                }
                apply_index = '<span id="fs_type" class="badge text-bg-light" onclick=removeIndex(this,'+'"'+ filter_name +'"'+');>' +
                                '<span>'+year+'년 '+quarter+' 분기, '+fs_type_name+'</span>'+
                                '<span class="btn-close ms-1 text-end"></span>'+
                            '</span>';
                
                $('#fs_type').remove();
                $('#id_apply_filters').append(apply_index);
                indexes[filter_name] = {'year': year, 'quarter': quarter, 'fs_type': fs_type};
            }
        });

        /** 필터 추가(섹터) */
        $('#id_set_corp_sectors').on('click', function() {
            corp_sector = $('select[name="corp_sector_list"] option:selected').val();
            filter_name = 'corp_sector'

            if (corp_sector == '섹터선택') {
                alert('섹터를 선택해주세요.');
            }
            else {
                apply_index = '<span id="corp_sector" class="badge text-bg-light" onclick=removeIndex(this,'+'"'+ filter_name +'"'+');>' +
                                '<span>섹터: '+corp_sector+'</span>'+
                                '<span class="btn-close ms-1 text-end"></span>'+
                            '</span>';
                
                $('#corp_sector').remove();
                $('#id_apply_filters').append(apply_index);
                indexes[filter_name] = corp_sector;
            }
        });
    });

    /** 필터 추가(기업명, 종목코드) */
    function searchCorpName(search_this) {
        corp_name = $('#id_search_corp_name').val();
        filter_name = 'corp_name';

        if ($(search_this).prop('tagName') == 'INPUT' && event.keyCode == 13 || $(search_this).prop('tagName') == 'BUTTON') {
            if ($.isNumeric(corp_name) == true && corp_name.length == 6) {
                if (Object.keys(indexes).some(v => v == filter_name)) {
                    alert('이미 적용된 필터입니다.');
                }
                else {
                    apply_index = '<span id="corp_name" class="badge text-bg-light" onclick=removeIndex(this,'+'"'+ filter_name +'"'+');>' +
                                    '<span>'+'종목코드: '+corp_name+'</span>'+
                                    '<span class="btn-close ms-1 text-end"></span>'+
                                '</span>';

                    $('#id_apply_filters').append(apply_index);
                    indexes[filter_name] = corp_name;
                }
            }
            else if ($.isNumeric(corp_name) == false) {
                apply_index = '<span id="corp_name" class="badge text-bg-light" onclick=removeIndex(this,'+'"'+ filter_name +'"'+');>' +
                                '<span>'+'기업명: '+corp_name+'</span>'+
                                '<span class="btn-close ms-1 text-end"></span>'+
                            '</span>';
                
                $('#corp_name').remove();
                $('#id_apply_filters').append(apply_index);
                indexes[filter_name] = corp_name;
            }
            else {
                alert('올바른 값을 입력해주세요.');
            }
        }
    }
</script>
<script>
    var orderby;
    var page_number = Number($('#page').data('page'));

    $(document).ready(function() {
        /** 검색 */
        $('#submit_search').on('click', function() {
            $.post({
                url: "{% url 'services:search' %}",
                data: JSON.stringify(indexes),
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                error: function(response) {
                    message = response['responseText'];
                    alert(message);
                    location.href = "{% url 'account:login' %}"
                },
                success: function() {
                    $('#filter-modal').modal('hide');
                    location.reload();
                }
            });
        });

        /** 필터 초기화 */
        $('#id_reset_filters').on('click', function() {
            $.post({
                url: "{% url 'services:search' %}",
                data: 'reset',
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                error: function(response) {
                    message = response['responseText'];
                    alert(message);
                    location.href = "{% url 'account:login' %}"
                },
                success: function() {
                    location.reload();
                }
            });
        });

        /** 분석 기업 추가/취소 */
        $('input[name="checked_corp"]').on('click', function() {
            if ($(this).is(':checked') == true) {
                var checked_corp = $(this).clone().hide();
                $('#checked_corp_list').append(checked_corp);
            }
            else {
                var checked_corp_val = $(this).val();

                $('#checked_corp_list').find('input').filter(function() {
                    if($(this).val() === checked_corp_val) {
                        $(this).remove();
                    }
                });
            }
        });

        /** 정렬 */
        $('#table thead th').on('click', function () {
            var account_name = $(this).data('account-name');

            if (account_name != null) {
                // DESC
                if ($(this).is('.asc')) {
                    $(this).removeClass('asc');
                    $(this).addClass('desc');
                    $('.ordering').remove();
                    $(this).append('<i class="bi bi-caret-down-fill ordering"></i>');
                    orderby = '-'+account_name;
                }
                // ASC 
                else {
                    $(this).addClass('asc');
                    $(this).removeClass('desc');
                    $('.ordering').remove();
                    $(this).append('<i class="bi bi-caret-up-fill ordering"></i>');
                    orderby = account_name;
                }

                $(this).siblings().removeClass('asc');
                $(this).siblings().removeClass('desc');

                $.get({
                    url: "{% url 'services:search' %}",
                    data: {
                        'page': JSON.stringify(page_number),
                        'ordering': JSON.stringify(orderby)
                    },
                    error: function(response) {
                        message = response['responseText'];
                        alert(message);
                        location.href = "{% url 'account:login' %}"
                    },
                    success: function(response) {
                        var responseHTML = $.parseHTML(response);
                        var tbody = $(responseHTML).find('#table tbody');
                        var page = $(responseHTML).find('#page');

                        $('#table tbody').remove();
                        $('#table thead').after(tbody);

                        $('#page').remove();
                        $('#id_table_wrapper').after(page);
                    }
                });
            }
        });
    });

    /** 페이징 */
    function paging() {
        var table = $('#table');
        var totalPages = {{ paginator.num_pages }};

        page_number += 1;

        if (page_number <= totalPages) {
            $.get({
                url: "{% url 'services:search' %}",
                data: {
                    'page': JSON.stringify(page_number),
                    'ordering': JSON.stringify(orderby)
                },
                error: function(response) {
                    message = response['responseText'];
                    alert(message);
                    location.href = "{% url 'account:login' %}"
                },
                success: function(response) {
                    var responseHTML = $.parseHTML(response);
                    var tbody = $(responseHTML).find("#table tbody");
                    var page = $(responseHTML).find("#page");

                    $('#table tbody').remove();
                    $('#table thead').after(tbody);
                    
                    $("#load_more_button").text("더보기( " + {{ object_list|length }} * page_number + " / {{ paginator.count }} )");
                    
                    if (page_number == totalPages) {
                        $("#load_more_button").prop("disabled", true);
                        $("#load_more_button").text("더보기( {{ paginator.count }} / {{ paginator.count }} )");
                    }

                    $('#page').remove();
                    $('#id_table_wrapper').after(page);
                }
            });
        }
    }
</script>
<script>
    /** 툴팁 */
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}