{% extends 'admin_dashboard/layout/admin_base.html' %}
{% load static %}
{% block content %}
<div class="row mt-3">
    <span class="font-lg fw-bold">마케팅 분석</span>
</div>
<div class="row mt-3">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link {% if tab == 'user' %}active{% endif %} tabs" href="?tab=user">사용자 통계 분석</a>
        </li>
    </ul>
</div>

{% if tab == 'user' %}
{% include 'admin_dashboard/marketing/marketing_user.html' %}
{% endif %}
{% endblock %}