<hr class="mt-5">
<div class="font-sm text-center footer">
    <a href="https://blog.naver.com/dhrltjr100">서비스 소개</a>
    <a href="{% url 'services:terms_of_use' %}" class="mx-2">이용약관</a>
    <a href="{% url 'services:terms_of_privacy' %}" class="fw-bold">개인정보처리방침</a>
    <a href="{% url 'services:faq' %}" class="mx-2">FAQ</a>
    <a href="https://blog.naver.com/dhrltjr100">Blog</a>
    <div class="mt-2">
        <span>이메일: aimdatservice@gmail.com</span>
    </div>
    <div class="disabled mt-1">ⓒ 2023 Aimdat Team</div>
</div>
<br class="mb-5">