<nav class="navbar navbar-expand-lg bg-main">
    <div class="container">
        <a class="navbar-brand text-white fw-bold font-lg" href="{% url 'index' %}">Aimdat</a>
        {% if user.is_authenticated %}
        <button class="navbar-toggler ms-auto" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarContent"
                aria-controls="navbarContent"
                aria-expanded="false"
                style="color: white !important; border: 1px solid transparent !important;">
                <i class="bi bi-list font-md"></i>
        </button>
        <div class="float-end">
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto">
                    <li>
                        <a class="fw-bold text-white font-sm" href="{% url 'services:mypage' %}">마이페이지</a>
                    </li>
                    <div class="vr mx-2 text-white"></div>
                    <li>
                        <a class="fw-bold text-white font-sm" href="{% url 'account:logout' %}">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</nav>