{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row mt-5">
    {% include 'services/mypage/includes/mypage_sidebar.html' %}
    
    <div class="col flex-grow-1">
        <div class="mt-2 font-lg fw-bold">회원정보</div>
        <div class="mt-3 font-md">
            <span class="fw-bold">이메일:</span> <span>{{ request.user.email }}</span>
            {% if request.user.user_classify == 'N' %} 
            <img src="{% static 'image/social/naver_button.png' %}" height="20px">
            {% elif request.user.user_classify == 'K' %}
            <img src="{% static 'image/social/kakao_button.png' %}" height="20px">
            {% elif request.user.user_classify == 'G' %}
            <img src="{% static 'image/social/google_button.png' %}" height="20px">
            {% endif %}
            <br>
            <span class="fw-bold">최근 로그인:</span> <span>{{ request.user.last_login|date:'Y-m-d' }}</span>
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}

{% endblock %}
{% block script %}
<script>
    $(document).ready(function() {
        $('#id_delete_account').on('click', function() {
            $.ajax({
                url: "{% url 'account:delete_account' %}",
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function(data) {
                    alert('회원탈퇴가 완료되었습니다.')
                    window.location.href = "{% url 'account:login' %}";
                }
            });
        });
    });
</script>
{% endblock %}