{% extends 'email_base.html' %}
{% block content %}
<table style="border-collapse: collapse; margin-left: 20%; margin-right: 20%;">
    <thead style="background-color: #044FBF;">
        <tr>
            <td width="100%" colspan="3" style="height: 20px;"></td>
        </tr>
        <tr rowspan="3">
            <td width="6%"></td>
            <td width="88%" style="font-size: 24px; font-weight: bold; color: white">Aimdat</td>
            <td width="6%"></td>
        </tr>
        <tr>
            <td width="100%" colspan="3" style="height: 20px;"></td>
        </tr>
    </thead>
    <tbody style="background-color: #FFFFFF;">
        <tr>
            <td width="100%" colspan="3" style="height: 15px;"></td>
        </tr>
        <tr style="padding-left: 1rem; padding-right: 1rem;">
            <td width="6%"></td>
            <td width="88%">비밀번호 재설정을 위해 다음의 링크를 클릭해주세요.</td>
            <td width="6%"></td>
        </tr>
        <tr class="px-4">
            <td width="6%"></td>
            <td class="fw-bold" style="font-size: 14px;" width="88%">
                <a href="{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}">
                    {{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
                </a>
            </td>
            <td width="6%"></td>
        </tr>
        <tr class="px-4">
            <td width="6%"></td>
            <td width="88%">비밀번호 재설정을 원치 않으시면, 이메일을 삭제해주세요.</td>
            <td width="6%"></td>
        </tr>
        <tr class="px-4">
            <td width="6%"></td>
            <td width="88%" style="color: #A1A1A1; font-size: 12px;">* 본인이 의도한 요청이 아닌 경우, aimdatservice@gmail.com으로 문의하시길 바랍니다.</td>
            <td width="6%"></td>
        </tr>
        <tr>
            <td width="3%"></td>
            <td width="96%" style="height: 10px; border-bottom: 1px solid #EEEEEE;"></td>
            <td width="3%"></td>
        </tr>
        <tr class="px-4">
            <td width="6%"></td>
            <td width="88%" style="color: #A1A1A1; font-size: 12px;">ⓒ 2023 Aimdat Team</td>
            <td width="6%"></td>
        </tr>
        <tr>
            <td width="100%" colspan="3" style="height: 10px;"></td>
        </tr>
    </tbody>
</table>
{% endblock %}