{% extends 'base.html' %}
{% block content %}
<div class="row mt-5">
    {% include 'services/mypage/includes/mypage_sidebar.html' %}

    <div class="col flex-grow-1">
        <div class="mt-2 font-lg fw-bold">1:1 문의</div>

        <div class="mt-3">
            <div class="p-3" style="background-color: #FCFCFC;">
                <div class="my-3">
                    <div class="font-md fw-bold">
                        {% if inquiry.inquiry_category == 'account' %}
                        <span class="badge bg-primary text-white">계정</span> 
                        {% elif inquiry.inquiry_category == 'service' %}
                        <span class="badge bg-primary text-white">서비스 이용</span> 
                        {% elif inquiry.inquiry_category == 'report' %}
                        <span class="badge bg-primary text-white">버그/오류</span>
                        {% endif %}
                        {{ inquiry.title }}
                    </div>
    
                    <div class="mt-3 font-sm">
                        <span>작성일: {{ inquiry.created_at|date:'Y년 m월 d일' }}</span>
                        <div class="vr mx-2"></div>
                        <span>작성자: {{ inquiry.user.email }}</span>
                    </div>
                    <hr>
    
                    <div class="mt-3">
                        {{ inquiry.content|safe }}
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3">
            <div class="p-3" style="background-color: #FCFCFC;">
                {% if inquiry_answer == None %}
                <div>
                    답변 대기중입니다. 최대한 빠른 시일 안에 답변드리겠습니다.
                </div>
                {% else %}
                <div>
                    <div class="font-md fw-bold">
                        {% if inquiry_answer.inquiry.inquiry_category == 'account' %}
                        <span class="badge bg-primary text-white">계정</span> 
                        {% elif inquiry_answer.inquiry.inquiry_category == 'service' %}
                        <span class="badge bg-primary text-white">서비스 이용</span> 
                        {% elif inquiry_answer.inquiry.inquiry_category == 'report' %}
                        <span class="badge bg-primary text-white">버그/오류</span>
                        {% endif %}
                        RE: {{ inquiry_answer.inquiry.title }}
                    </div>
                    <div class="font-sm mt-3">
                        <span>작성일: {{ inquiry_answer.created_at|date:'Y년 m월 d일' }}</span>
                        <div class="vr mx-2"></div>
                        <span>작성자: 관리자</span>
                    </div>
                    <hr>
                    {{ inquiry_answer.content|safe }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}

{% endblock %}